Cython==0.29.23
pytz==2021.1
pyOpenSSL==20.0.1
ndg-httpsclient==0.5.1
pyasn1==0.4.8
click==8.0.1
apache-airflow[crypto,postgres,s3,celery,rabbitmq,slack]==1.10.2
awscli==1.19.110
boto3==1.17.110
cryptography==3.4.7
cx-Oracle==8.2.1
Flask-Bcrypt==0.7.1
pyodbc==4.0.31
PyYAML==5.4.1
pytest==6.2.4

