apache-airflow[postgres,s3,celery,rabbitmq,mssql,slack]==1.10.2
boto3==1.7.84
carto==1.4.0
cx-Oracle==7.0.0
-e git+https://github.com/CityOfPhiladelphia/geopetl.git@b7c854c3dd3853abf32731f5dc1b707ea9ecae23#egg=geopetl
petl==1.2.0
