awscli==1.16.140
boto3==1.7.84
carto==1.4.0
click==7.0
cryptography==2.6.1
cx-Oracle==7.0.0
-e git+https://github.com/CityOfPhiladelphia/geopetl.git@b7c854c3dd3853abf32731f5dc1b707ea9ecae23#egg=geopetl
petl==1.2.0
psycopg2==2.8.1
pyasn1==0.4.5
pyodbc==4.0.26
pytz==2015.7
