Cython==0.29.7
pytz==2015.7
pyOpenSSL==19.0.0
ndg-httpsclient==0.5.1
pyasn1==0.4.5
click==7.0
apache-airflow[crypto,postgres,s3,celery,rabbitmq,slack]==1.10.2
awscli==1.16.161
boto3==1.7.84
cryptography==2.6.1
cx-Oracle==7.0.0
Flask-Bcrypt==0.7.1
pyodbc==4.0.26
PyYAML==5.1
pytest==4.5.0
